{% extends 'base.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
  {{ parent() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Add Product</h3>
          </div>
          <div class="card-body">
            <div class="form-container text-center">
              {{ form_start(f) }}
              <div class="form-field">
                {{ form_widget(f.nom) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.prix) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.qte) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.categ) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.matiere) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.description) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.image) }}
              </div>
              <div class="form-field">
                {{ form_widget(f.Save, {'attr': {'class': 'btn btn-primary'}}) }}
              </div>
    
            {{ form_errors(f) }}


              {{ form_end(f) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
